{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h3>Sorry, this page already exists</h3>

    <form action="{{ link }}">
        <div class="form-group" style="display: inline-block;"> 
            <input class="btn btn-primary" type="submit" value="Go to that page">
        </div>
    </form>

    <h1>Or</h1>

    <form action="{% url 'new'%}">
        <div class="form-group" style="display: inline-block;"> 
            <input class="btn btn-primary" type="submit" value="Create a new page">
        </div>
    </form>
{% endblock %}