{% extends "encyclopedia/layout.html" %}

{% block body %}

    {% if alert == True %}
    <div class="alert alert-danger" role="alert">
        Your form is invalid. Please make some changes before submitting.
    </div>
    {% endif %}
    
    <h1>{{ title }}</h1>

    <div class="form-group">
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
{% endblock %}